/* Sides.css */
.displayTwo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 10px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .displayTwo {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 20px; 
  }
}
