.section-bk-2 {
  background-color: #892be23f;
  min-height: 40vh;
  padding: 100px 50px 0px 50px;
  border-radius: 0px 180px 0px 0px;
  margin-top: 100px;
}
.sides-container-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 10px;
  position: relative;
}

.left-test-2 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
}

.left-test-2 > img {
  width: 100%;
}

.right-test-2 {
  margin-top: 50px;
}

@media screen and (max-width: 1207px) {
  .section-bk-2 {
    padding: 50px;
    margin-top: 10px;
  }
  .left-test-2 > img {
    width: 400px;
    margin: auto;
  }
}
@media screen and (max-width: 1000px) {
  .right-test > img {
    transform: rotate(0deg);
    width: 100%;
  }

  .section-bk {
    min-height: 100vh;
  }

  .left-test-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-test-2 > img {
    width: 300px;
    margin: auto;
  }

  .sides-container-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
