.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  /* margin: 10px 0; */
}



@media screen and (max-width: 800px) {
    .cards-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
